body{
    font-family: Roboto, Oxygen, 'Helvetica Neue', sans-serif;
    font-size:115%;
    background-color:#a0d2eb;
}

header{
    background-color:#e5eaf5;
}

nav{
    background-color:#e5eaf5;
    width:80%
}

nav img{
    position:relative;
    width:10%;
}

main{
    background-color:rgb(242, 242, 26);
    font-size:medium;
}

ul{
    display:flex;
    gap:20px;
    justify-content:space-between;
}

li{
    display:inline-block;

    text-align:center;
}

footer{
    background-color:#e5eaf5;
}

h1{
    font-size:large;
    font-family:Roboto, Oxygen, 'Helvetica Neue', sans-serif;
    color:#1e023d;

}

p{
    line-height:120%;
}

div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 

}

.container{
    display: grid;
    grid-template-columns: 40% 40%;
    gap:10px;
}

.container img{
    width:100%;
}

button{
  /* background-color:rgb(212, 255, 212); */
    text-decoration:double;
    padding: 10px;
    font-size:larger;
    border-radius: 6px;
    transition-duration: 0.4s;
    
}

button:hover{
    background-color:aqua;
}

.current{
    text-transform:uppercase;
    background-color:rgb(223, 164, 196);
   
}